mixin pf-btn-elipse({ text, isActive, isDisabled })
  button.pf-btn-elipse(
    class=(isActive && 'actv')
    disabled=(isDisabled ? true : false)
    onClick="this.classList.toggle('actv')"
  )=text
