.pf-page {
  width: 100%;
  min-height: 100%;
  padding: 16px;
  background-color: $color-gray-973;
}
.pf-title__subtitle {
  margin: 16px 0;
  font-family: $font-account;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: $color-black;
}
.pf-page__top {
  display: flex;
  align-items: center;
}
.pf-page__filter-list {
  --gap: 8px;
  --margin-bottom: 16px;
  --align-items: center;
  display: flex;
  flex-wrap: wrap;
  align-items: var(--align-items);
  gap: var(--gap);
  margin-bottom: var(--margin-bottom);
}
.pf-page__content {
  margin-top: 16px;
}
