include /elements/head
include /components/header

- let title = "Rx2Go Performance Page"

block data

doctype html
html(lang="en")
  +head({ title })
  body
    section.account-page
      .account-page__left
        a.account-page__logo(href="#")
          +svg({ name: "/img/logo-rx2go.svg", width: 97, height: 25 })
      .account-page__right
        +header({})
        .account-page__content
          .performance-page
            block content
    include /elements/script
