include /elements/head
include /components/header

- let title = "Rx2Go Performance Page"

block data

doctype html
html(lang="en")
  +head({ title })
  body
    block content
    include /elements/script
