extends /elements/layout-page
include /elements/images
include /components/button/pf-btn-elipse
include /components/pf-table

block data
  - title = "Rx2Go: Performance Page — Dispatcher Analytics Income"
  - activeSections = "Dispatcher Analytics"
  - const typeTable = ["Regular", "Income", "Time window", "Same day", "Tickets", "QAQC"]

block content
  h2.pf-title Dispatcher Analytics
  .pf-page__filter-list
    each it in typeTable
      +pf-btn-elipse({ text: it, isActive: it === "Regular" })
  include /mocks/table-dispatcher-regular
  +pf-table({ table: tableDispatcherRegular })

