-
  const tableTicketsComplain = {
    head: [
        "Description",
        "Orders",
        "Dispatcher Name",
        "Driver Name",
        "Status",
        "Date",
    ],
    body: [
      [
        { data: "I appreciate most of all the communication via text and phone call. Also the tracking system allowed me to pay attention to the time and not miss delivery." },
        { type: "orders", data: "#12345678" },
        { data: "Elizabeth Anderson" },
        { data: "Paul Thompson" },
        { type: "status", data: { text: "Delivery Attempted (456)", icon: "icon-status-error", color: "red" } },
        { data: "02/09/2024 12:19" },
      ],
      [
        { data: "10/10 service. My prescription was delivered nice and early. Extremely pleasant, helpful, and communicative staff who were more than happy to answer my questions." },
        { type: "orders", data: "#12345678" },
        { data: "Elizabeth Anderson" },
        { data: "Paul Thompson" },
        { type: "status", data: { text: "Investigation (7)", icon: "icon-status-magnifier", color: "yellow" } },
        { data: "02/10/2024 15:20" },
      ],
      [
        { data: "I get quite a few prescriptions delivered, and without question this is the absolute best Pharmacy delivery service I have ever encountered." },
        { type: "orders", data: "#12345678" },
        { data: "Elizabeth Anderson" },
        { data: "Paul Thompson" },
        { type: "status", data: { text: "Delivered (678)", icon: "icon-status-done", color: "green" } },
        { data: "02/10/2024 15:20" },
      ],
      [
        { data: "I always get the sweetest people calling to set up my refill. They’re so fun to chat with but quick to set everything up at the most convenient time." },
        { type: "orders", data: "#12345678" },
        { data: "Elizabeth Anderson" },
        { data: "Paul Thompson" },
        { type: "status", data: { text: "Ready for Delivery (763)", icon: "icon-status-town", color: "blue" } },
        { data: "02/10/2024 15:20" },
      ],
      [
        { data: "Thank you very much for the delivery on time. The staff is very friendly and they were very patient found the address! The best service! Highly recommend!" },
        { type: "orders", data: "#12345678" },
        { data: "Elizabeth Anderson" },
        { data: "Paul Thompson" },
        { type: "status", data: { text: "Pickup Occurred (289)", icon: "icon-status-auto", color: "lightblue" } },
        { data: "02/10/2024 15:20" },
      ],
      [
        { data: "Super fast scheduling and delivery. The delivery tracker was spot on. I was at the playground when the notification came in and made it home to meet the delivery person." },
        { type: "orders", data: "#12345678" },
        { data: "Elizabeth Anderson" },
        { data: "Paul Thompson" },
        { type: "status", data: { text: "Delivered (678)", icon: "icon-status-done", color: "green" } },
        { data: "02/10/2024 15:20" },
      ]
    ]
  }
