-
  const tableCalls = {
    head: [
        "Staff Info",
        "Outgoing calls",
        "Incoming calls",
        "",
        "Avg. Talk",
        "Talk Time",
    ],
    body: [
      [
        { type: "person", data: { name: "System", id: 9 } },
        { data: 34 },
        { data: 4 },
        { type: "calls" },
        { data: "30s" },
        { data: "1m 30s" },
      ],
      [
        { type: "person", data: { name: "Jony Maksudov", id: 219298384 } },
        { data: 6 },
        { data: 56 },
        { type: "calls" },
        { data: "30s" },
        { data: "1m 30s" },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 11 },
        { data: 7 },
        { type: "calls" },
        { data: "30s" },
        { data: "1m 30s" },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 0 },
        { data: 6 },
        { type: "calls" },
        { data: "30s" },
        { data: "1m 30s" },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 45 },
        { data: 43 },
        { type: "calls" },
        { data: "30s" },
        { data: "1m 30s" },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 99 },
        { data: 23 },
        { type: "calls" },
        { data: "30s" },
        { data: "1m 30s" },
      ],
    ]
  }
