-
  const tableDispatcherRegular = {
    head: [
        "Staff Info",
        "Calls",
        "Routes",
        "Number of Stops",
        "Number of Calls Made",
        "Feedbacks",
    ],
    body: [
      [
        { type: "person", data: { name: "System", id: 9 } },
        { type: "calls" },
        { data: 3 },
        { data: 30 },
        { data: 3 },
        { type: "raiting", data: 5 },
      ],
      [
        { type: "person", data: { name: "Jony Maksudov", id: 219298384 } },
        { type: "calls" },
        { data: 6 },
        { data: 56 },
        { data: 6 },
        { type: "raiting", data: 4 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { type: "calls" },
        { data: 4 },
        { data: 44 },
        { data: 4 },
        { type: "raiting", data: 3 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { type: "calls" },
        { data: 2 },
        { data: 22 },
        { data: 2 },
        { type: "raiting", data: 1 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { type: "calls" },
        { data: 5 },
        { data: 23 },
        { data: 5 },
        { type: "raiting", data: 5 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { type: "calls" },
        { data: 7 },
        { data: 27 },
        { data: 7 },
        { type: "raiting", data: 4 },
      ],
    ]
  }
