-
  const tableDispatcherIncome = {
    head: [
        "Staff Info",
        "Outgoing calls",
        "Incoming calls",
        "Speed of Answer",
        "Calls",
        "Avg. Talk",
        "Talk Time",
        "Created",
        "SMS",
        "Feedbacks",
    ],
    body: [
      [
        { type: "person", data: { name: "System", id: 9 } },
        { data: 3 },
        { data: 3 },
        { data: "0h 0m 2s" },
        { type: "calls" },
        { data: "3m 23s" },
        { data: "3m 23s" },
        { data: 3 },
        { data: 3 },
        { type: "raiting", data: 5 },
      ],
      [
        { type: "person", data: { name: "Jony Maksudov", id: 219298384 } },
        { data: 6 },
        { data: 6 },
        { data: "0h 0m 2s" },
        { type: "calls" },
        { data: "6m 4s" },
        { data: "6m 4s" },
        { data: 6 },
        { data: 6 },
        { type: "raiting", data: 5 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 4 },
        { data: 4 },
        { data: "0h 0m 2s" },
        { type: "calls" },
        { data: "6m 4s" },
        { data: "6m 4s" },
        { data: 4 },
        { data: 4 },
        { type: "raiting", data: 3 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 2 },
        { data: 2 },
        { data: "0h 0m 2s" },
        { type: "calls" },
        { data: "6m 4s" },
        { data: "6m 4s" },
        { data: 2 },
        { data: 2 },
        { type: "raiting", data: 1 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 5 },
        { data: 5 },
        { data: "0h 0m 2s" },
        { type: "calls" },
        { data: "6m 4s" },
        { data: "6m 4s" },
        { data: 5 },
        { data: 5 },
        { type: "raiting", data: 5 },
      ],
      [
        { type: "person", data: { name: "Khika Khadjaev", id: 219298384 } },
        { data: 7 },
        { data: 7 },
        { data: "0h 0m 2s" },
        { type: "calls" },
        { data: "6m 4s" },
        { data: "6m 4s" },
        { data: 7 },
        { data: 7 },
        { type: "raiting", data: 4 },
      ],
    ]
  }
