$color-gray-973: #f8f8f8;   // hsl(0, 0%, 97.3%)
$color-gray-851: #d9d9d9;   // hsl(0, 0%, 85.1%)
$color-gray-588: #969696;   // hsl(0, 0%, 58.8%)
$color-gray-090: #171717;   // hsl(0, 0%, 09.0%)
$color-gray-067: #111111;   // hsl(0, 0%, 06.7%)

$color-text: #2d2926;

$color-white: #ffffff;
$color-black: #000000;

$color-blue-light:                  #29b6ff;
$color-very-pale-blue:              #d3d9de;
$color-cornflower-blue:             #4aa3ef;
$color-signal-blue:                 #162854;
$color-grayish-blue:                #55595c;
$color-bluish-black:                #1b1d21;
$color-gray-blue:                   #24222f;
$color-periwinkle-crayola:          #e9edf5;
$color-periwinkle-crayola-2:        #eceff4;
$color-lime-green:                  #44d453;
$color-radical-red:                 #ff3c5f;
$color-light-purple-blue:           #827ca1;
$color-cobalt-blue:                 #1e293b;
$color-cobalt-blue-2:               #0033cc;
$color-cornflower:                  #6eb5f2;
$color-cornflower-2:                #5aa1de;
$color-green-crayola:               #22c55e;
$color-mountain-meadow:             #37ce7d;
$color-brilliant-greenish-yellow:   #ffcf23;
$color-dark-pastel-green:           #00cc33;
$color-neon-carrot:                 #ff9933;
$color-blue:                        #6699ff;
$color-rich-yellow-pink:            #ff6666;
$color-blue-crayola:                #3b82f6;
$color-magic-mint:                  #bbf7d0;
$color-blue-frost:                  #bfdbfe;
$color-pink:                        #fecaca;
$color-lemon-cream:                 #fff2c3;
$color-frosty-sky:                  #16b1ff;
$color-blue-azure:                  #275DAD;
$color-periwinkle:                  #C4DCFF;
$color-toad-love:                   #35A642;
$color-pang:                        #CBFED1;
$color-moderate-orange:             #FB983C;
$color-shelled-almonds:             #FFE6CF;

//
$color-label-green:                 #2dc473;
$color-label-green-text:            #37ce7d;
$color-label-yellow:                #ffcf23;
$color-label-yellow-text:           #ebbb0f;
$color-label-red:                   #ff3c5f;
$color-label-red-text:              #f53255;
