$color-gray-973: #f8f8f8;   // hsl(0, 0%, 97.3%)
$color-gray-851: #d9d9d9;   // hsl(0, 0%, 85.1%)
$color-gray-588: #969696;   // hsl(0, 0%, 58.8%)
$color-gray-090: #171717;   // hsl(0, 0%, 09.0%)
$color-gray-067: #111111;   // hsl(0, 0%, 06.7%)

$color-text: #2d2926;

$color-white: #ffffff;
$color-black: #000000;

$color-blue-light: #29b6ff;
$color-very-pale-blue: #d3d9de;
$color-cornflower-blue: #4aa3ef;
$color-signal-blue: #162854;
$color-grayish-blue: #55595c;
$color-bluish-black: #1b1d21;
$color-gray-blue: #24222f;
$color-periwinkle-crayola: #e9edf5;
$color-periwinkle-crayola-2: #ECEFF4;
$color-lime-green: #44d453;
$color-radical-red: #ff3c5f;
$color-light-purple-blue: #827ca1;
$color-cobalt-blue: #1E293B;
$color-cobalt-blue-2: #0033CC;
$color-cornflower: #6EB5F2;
$color-cornflower-2: #5AA1DE;
$color-green-crayola: #22C55E;
$color-mountain-meadow: #37CE7D;
$color-brilliant-greenish-yellow: #FFCF23;
$color-dark-pastel-green: #00CC33;
$color-neon-carrot: #FF9933;
$color-blue: #6699FF;
$color-rich-yellow-pink: #FF6666;
$color-blue-crayola: #3B82F6;
$color-magic-mint: #BBF7D0;
$color-blue-frost: #BFDBFE;
$color-pink: #FECACA;

//
$color-label-green: #2dc473;
$color-label-green-text: #37ce7d;
$color-label-yellow: #ffcf23;
$color-label-yellow-text: #ebbb0f;
$color-label-red: #ff3c5f;
$color-label-red-text: #f53255;
