mixin chart-call-income({})
  -
    const labels = [
      { label: "Answered Calls", color: "green" },
      { label: "Hung Up", color: "blue" },
      { label: "Abandoned", color: "red" },
    ]
  .pf-chart-canvas
    .pf-chart-canvas__top
      .pf-chart-canvas__legend
        each it in labels
          button.pf-chart-canvas__legend-item(
            class=it.color
            onclick=`chart.legendClickHandler(this, '${it.label}', window.chartCallIncome)`
          )=it.label
      .pf-chart-canvas__filter
        each it, i in ["15min", "30min", "1h", "3h"]
          button.pf-chart-canvas__filter-btn(
            class=(i === 1 && "actv")
            onclick="this.classList.toggle('actv')"
          )=it
    .pf-chart-canvas__content
      canvas(id="callIncome" height="75")
    script
      include /data/call-income.js
