.pf-btn-elipse-small {
  @include transition(background-color, color);
  margin: 0;
  padding: 6px 12px;
  font-family: $font-account;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  text-align: center;
  color: $color-gray-067;
  text-decoration: none;
  background-color: $color-periwinkle-crayola-2;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  &:disabled {
    background-color: transparentize($color-periwinkle-crayola-2, 0.5);
    cursor: default;
  }
  &:not(:disabled, .actv):hover {
    color: $color-gray-067;
    background-color: transparentize($color-cornflower-blue, 0.6);
  }
  &.actv {
    color: $color-white;
    background-color: $color-cornflower-blue;
  }
}
